<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Requisición de Compra</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script th:src="@{/js/common.js}"></script>
</head>
<body>
	<div th:include="layout/loginInfo :: loginInfo"></div>
	<div th:include="layout/header::naviBar"></div>
	
	<div id="content" class="clearfix">

		<div class="container">

			<div layout:fragment="content">content!</div>

		</div>

	</div>

	

  	<div th:include="layout/footer :: copy"></div>

</body>
</html>