<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div th:fragment="loginInfo">
	<div style="float:right;margin:20px 3px 0 0;text-align: right">
	<span sec:authentication="principal.userId"></span> <span sec:authentication="principal.username"></span>
	<span sec:authentication="principal.authorities"></span>
	</div>
	<div>
		<img style="float:right;" th:src="@{/image/tapkun.png}"/>
	</div>
</div>
</body>
</html>