<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="./layout/layout">
<head>
</head>
<body>

	<div layout:fragment="content">
		<script th:src="@{/js/user/edit.js}"></script>
		<div class="container">

        <form th:action="@{save}" method="post" id="editForm" th:object="${form}" class="center">

        	<div>
        		<div th:if="*{isNew}">
	         		<a href="javascript:void(0)" th:href="@{back}" title="regresar">
	        			<i class="material-icons">navigate_before</i>
	        		</a>
        		</div>
        		<div th:unless="*{isNew}">
	         		<a href="javascript:void(0)" th:href="@{{userId}(userId=*{userId})}" title="regresar">
	        			<i class="material-icons">navigate_before</i>
	        		</a>
        		</div>
        	</div>

		    <div class="containerShadow">

	         	<label th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="errMessage">Error</label>

	        	<div class="item">
			        <label class="label" th:utext="#{mstUser.userId}"></label>
			        <div th:if="*{isNew}">
				        <input type="text" class="item" th:field="*{userId}" autofocus="autofocus" id="userId" name="userId" th:errorclass="errorField"/>
				        <label th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="errMessage">error</label>
			        </div>
			        <div th:unless="*{isNew}">
				        <label class="item" th:text="*{userId}"></label>
			        </div>
			    </div>
	        	<div class="item">
			        <label class="label" th:utext="#{mstUser.username}"></label>
			        <input type="text" class="item" th:field="*{username}" id="username" name="username" th:errorclass="errorField" />
			        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errMessage">error</label>
			    </div>
	        	<div class="item">
			        <label class="label" th:utext="#{mstUser.mailAddress}"></label>
			        <input type="text" class="item" th:field="*{email}" id="email" name="email" th:errorclass="errorField" />
			        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errMessage">error</label>
			    </div>
	        	<div class="item">
			        <label class="label" th:utext="#{mstDepartment.departmentName}"></label>
					<select th:class="item" id="departmentId" name="departmentId" th:errorclass="errorField">
		            	<option value="0">---</option>
		            	<option th:each="department : ${departmentList}" th:value="${department.id}" 
		            	th:text="${department.departmentName}" th:selected="${department.id} == *{departmentId}">pulldown</option>
		            </select>
					<label th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}" class="errMessage">error</label>
			    </div>

		    </div>


        	<div class="item">
				<a href="javascript:void(0)" onclick="save()" title="save"><i class="material-icons">done_all</i></a>
        	</div>
			<div th:if="*{isNew == false}">
        		<input type="hidden" name="userId" th:field="*{userId}"/>
	        	<input type="hidden" name="id" th:value="*{id}" />
        	</div>
        	<input type="hidden" name="isNew" th:value="*{isNew}" />
        </form>

	
		</div>

  	</div>

</body>
</html>