<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/header :: header">
	<title>Web Page</title>
</head>
<body>

	<script th:src="@{/js/user/search.js}"></script>
	<div class="container">
		<div th:replace="layout/loginInfo :: loginInfo"></div>



        <form action="/search" th:action="@{search}" method="post" id="searchForm" th:object="${userCriteriaForm}">
        
	        <div class="containerShadow">
         
	           	<div class="item">
			        <input type="text" name="keyword" id="keyword" th:placeholder="#{common.texto.buscar}" th:value="${keyword}"/>			    	
			    </div>
         
	            <a href="javascript:void(0)" onclick="searchPurchase()" th:title="#{common.texto.buscar}"><i class="material-icons">search</i></a>
	            &nbsp;<a href="javascript:void(0)" onclick="clearCondition()" th:title="clear"><i class="material-icons">clear</i></a>
	         </div>

			<div style="text-align: right">
				<a href="javascript:void(0)" onclick="editUser()" title="new requisicion"><i class="material-icons">add</i></a>
			</div>
        </form>

	
		<div style="text-align: right">
			Total: <span th:text="${#lists.size(list)}"></span>
		</div>
		<div class="row">
	        <table class="table">
	          <thead>
	            <tr>
	              <th th:utext="#{mstUser.loginId}"></th>
	              <th th:utext="#{mstUser.username}"></th>
	              <th>&nbsp;</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="item : ${list}">
	              <td><a class="btn btn-default" href="/admin/usuario/${item.loginId}" th:href="@{/admin/usuario/{loginId}(loginId=${item.loginId})}" th:text="${item.loginId}">1</a></td>
	              <td th:text="${item.username}"></td>
	              <td>
	                <a class="btn btn-warning" href="javascript:void(0)" th:attr="onclick='deleteUser(\'' + ${item.loginId} + '\');'" title="delete"><i class="material-icons">delete</i></a>
	              </td>
	            </tr>
	          </tbody>
	        </table>
		</div>
	</div>

  	<div th:include="layout/footer :: copy" th:fragment="containerFooter"></div>

</body>
</html>