<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/header :: header">
	<title>Web Page</title>
</head>
<body>

	<script src="/js/purchase/detail.js"></script>
	<div class="container">
		<div th:replace="layout/loginInfo :: loginInfo"></div>


        <form action="/purchase/detail" th:action="@{/purchase/detail}" method="post" id="detailForm" th:object="${form}">

        	<div>
        		<a href="javascript:void(0)" onclick="back()" title="regresar">
        			<i class="material-icons">navigate_before</i>
        		</a>
        	</div>
        
        	<div class="container">
         	
         	<div style="text-align: right">
         		<a href="javascript:void(0)" th:href="@{/purchase/eheader/{purchaseId}(purchaseId=*{purchaseId})}" title="modificar descripción general"><i class="material-icons">mode_edit</i></a>
         	</div>
         	
         	<div class="container"></div>
        	<table class="parent">
        		<thead>
        			<tr>
        				<th>Id del Requisición</th>
        				<th>Id del Solicitante</th>
        				<th>Fecha Material Solicitado</th>
			            <th>Posible Fecha de Entrega</th>
			            <th>Nacional o Importado</th>
			            <th>Compañía</th>
        			</tr>
					<tr>
						<td th:text="*{purchaseId}"></td>
						<td th:text="*{userId} + ' ' + *{username}"></td>
						<td th:text="*{applicatedAt}"></td>
						<td th:text="*{deliveryDate}"></td>
						<td th:text="*{isDomesticValue}"></td>
						<td th:text="*{companyValue}"></td>
					</tr>
        		</thead>       	
        	</table>
        	
        	
        	</div>
        	<div class="container">
        	<table>       	
        		<thead>
        			<tr>
        				<th>No</th>
        				<th>Cantidad</th>
        				<th>Unidad</th>
			            <th>Product Name</th>
			            <th>Brand</th>
			            <th>Nota</th>
			            <th>Unit Price</th>
			            <th>Total Price</th>
			            <th>Currency</th>
        			</tr>
					<tr th:each="item,iterStat : ${itemList}" >
						<td th:text="${item.purchaseItemId}"></td>
	              		<td th:text="${item.quantity}"></td>
	              		<td th:text="${item.unit}"></td>
	              		<td th:text="${item.productName}"></td>
	              		<td th:text="${item.brand}"></td>
	              		<td th:text="${item.note}"></td>
	              		<td th:text="${item.unitPrice}"></td>
	              		<td th:text="${item.totalPrice}"></td>
	              		<td th:text="${item.currency}"></td>
					</tr>
				</thead>
			</table>
        	</div>
        </form>

	</div>

  	<div th:include="layout/footer :: copy" th:fragment="containerFooter"></div>

</body>
</html>