<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/header :: header">
	<title>Web Page</title>
</head>
<body>

	<script src="/js/purchase/editHeader.js"></script>
	<div class="container">
		<div th:replace="layout/loginInfo :: loginInfo"></div>


        <form action="/purchase/saveHeader" th:action="@{/purchase/saveHeader}" method="post" id="editHeaderForm" th:object="${form}"
        class="center">

		
        	<div>
        		<div th:if="${purchaseId le 0}">
	         		<a href="javascript:void(0)" onclick="back()" title="regresar">
	        			<i class="material-icons">navigate_before</i>
	        		</a>
        		</div>
        		<div th:unless="${purchaseId le 0}">
	         		<a href="javascript:void(0)" th:href="@{/purchase/{purchaseId}(purchaseId=*{purchaseId})}" title="regresar">
	        			<i class="material-icons">navigate_before</i>
	        		</a>
        		</div>
        	</div>
        
			<div class="containerShadow">

        	<div class="item">
		        <label class="label">Id del Requisición</label>
		        <label class="item" th:text="*{purchaseId}"></label>
		    </div>
        	<div class="item">
		        <label class="label">Solicitante</label>
		        <label class="item" th:text="*{userId} + ' ' + *{username}"></label>
		    </div>
        	<div class="item">
		        <label class="label">Machine No</label>
				<input autofocus="autofocus" class="item" type="text" id="machineNo" name="machineNo" th:field="*{machineNo}" th:errorclass="errorField"/>
				<label th:if="${#fields.hasErrors('machineNo')}" th:errors="*{machineNo}" class="errMessage">error</label>
		    </div>
        	<div class="item">
		        <label class="label">Fecha Material Solicitado</label>
				<input class="item datepicker" type="text" id="applicatedAt" name="applicatedAt" placeholder="yyyy-mm-dd" th:field="*{applicatedAt}" th:errorclass="errorField"/>
				<label th:if="${#fields.hasErrors('applicatedAt')}" th:errors="*{applicatedAt}" class="errMessage">error</label>
		    </div>
        	<div class="item">
		        <label class="label">Posible Fecha de Entrega</label>
				<input class="item datepicker" type="text" id="deliveryDate" name="deliveryDate" placeholder="yyyy-mm-dd" th:field="*{deliveryDate}" th:errorclass="errorField"/>
				<label th:if="${#fields.hasErrors('deliveryDate')}" th:errors="*{deliveryDate}" class="errMessage">error</label>
		    </div>
        	<div class="item">
		        <label class="label">Nacional o Importado</label>
				<select th:class="item" id="isDomestic" name="isDomestic" th:errorclass="errorField">
	            	<option value="0">---</option>
	            	<option th:each="isDomestic : ${isDomesticList}" th:value="${isDomestic.code}" th:text="${isDomestic.value}" th:selected="${isDomestic.code} == *{isDomestic}">pulldown</option>
	            </select>
				<label th:if="${#fields.hasErrors('isDomestic')}" th:errors="*{isDomestic}" class="errMessage">error</label>
		    </div>
        	<div class="item">
		        <label class="label">Compañía</label>
				<select th:class="item" id="company" name="company" th:errorclass="errorField">
	            	<option value="0">---</option>
	            	<option th:each="company : ${companyList}" th:value="${company.code}" th:text="${company.value}" th:selected="${company.code} == *{company}">pulldown</option>
	            </select>
				<label th:if="${#fields.hasErrors('company')}" th:errors="*{company}" class="errMessage">error</label>
		    </div>
 
        	<div class="item">
				<div th:if="${userId==null}" style="display:inline">
					<a href="javascript:void(0)" onclick="save()" title="save"><i class="material-icons">done_all</i></a>
				</div>
        	</div>

         	</div>
        	<input type="hidden" name="userId" th:field="*{userId}"/>
        	<input type="hidden" name="username" th:field="*{username}"/>
        	<input type="hidden" name="purchaseId" th:field="*{purchaseId}"/>
        </form>

	</div>

  	<div th:include="layout/footer :: copy" th:fragment="containerFooter"></div>

</body>
</html>