<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout/header :: header">
	<title>Web Page</title>
</head>
<body>

	<script src="/js/purchase/search.js"></script>
	<div class="container">
		<div th:replace="layout/loginInfo :: loginInfo"></div>

        <form action="/purchase/search" th:action="@{/purchase/search}" method="post" id="searchForm" th:object="${purchaseCriteriaForm}">
         <div class="containerShadow">
         
           	<div class="item">
		        <label class="label">Requisición No.</label>
		        <input type="text" name="pId" id="pId" th:value="*{pId}" class="condition" autofocus="autofocus"/>

		        <label class="label">Id de Solicitante</label>
		        <input type="text" name="solicitanteId" id="solicitanteId" th:value="*{solicitanteId}" class="condition"/>

		        <label class="label">Fecha de Material Solicitado</label>
		        <input type="text" name="applicatedAtFrom" id="applicatedAtFrom" th:value="*{applicatedAtFrom}" class="condition datepicker" placeholder="yyyy-mm-dd"/>
		        &nbsp;-&nbsp;
		        <input type="text" name="applicatedAtTo" id="applicatedAtTo" th:value="*{applicatedAtTo}" class="condition datepicker" placeholder="yyyy-mm-dd"/> 

		        <label class="label">Posible Fecha de Entrega</label>
		        <input type="text" name="deliveryDateFrom" id="deliveryDateFrom" th:value="*{deliveryDateFrom}" class="condition datepicker" placeholder="yyyy-mm-dd"/>
		        &nbsp;-&nbsp;
		        <input type="text" name="deliveryDateTo" id="deliveryDateTo" th:value="*{deliveryDateTo}" class="condition datepicker" placeholder="yyyy-mm-dd"/> 
		    </div>
         
            <a href="javascript:void(0)" onclick="searchPurchase()" th:title="#{common.texto.buscar}"><i class="material-icons">search</i></a>
            &nbsp;<a href="javascript:void(0)" onclick="clearCondition()" th:title="clear"><i class="material-icons">clear</i></a>
         </div>
        </form>

	
		<div style="text-align: right"><a href="/purchase/add" title="new requisicion"><i class="material-icons">add</i></a></div>
		<div class="row">
	        <table class="table">
	          <thead>
	            <tr>
		          <th>No</th>
		          <th>Requisición No</th>
	              <th>Nombre de Solicitante</th>
	              <th>Machine No</th>
	              <th>Fecha Material Solicitado</th>
	              <th>Posible Fecha de Entrega</th>
	              <th>Nacional o Importado</th>
	              <th>Compañía</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="item,iterStat : ${list}" 
	            th:with="rowcolor =(${item.isNearDeliveryDate == true} ? 'alert' : '')"
	            th:class="${rowcolor}">
	              <td class="textCenter"><a class="btn btn-default" href="/purchase/" th:href="@{/purchase/{purchaseId}(purchaseId=${item.purchaseId})}" th:text="${iterStat.count}">1</a></td>
	              <td class="textCenter" th:text="${item.purchaseId}"></td>
	              <td th:text="${item.member}? ${item.userId} + ' ' + ${item.member.username}: ${item.userId}"></td>
	              <td class="textCenter" th:text="${item.machineNo}"></td>
	              <td class="textCenter" th:text="${item.applicatedAt}"></td>
	              <td class="textCenter" th:text="${item.deliveryDate}"></td>
	              <td class="textCenter" th:text="${item.isDomesticValue}"></td>
	              <td class="textCenter" th:text="${item.companyValue}"></td>
	              
	            </tr>
	          </tbody>
	        </table>
		</div>
	</div>

  	<div th:include="layout/footer :: copy" th:fragment="containerFooter"></div>

</body>
</html>