<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="./layout/layout">
<!-- <head th:include="layout/header :: header">-->
<head>
</head>
<body>

	<!-- <div th:replace="layout/LoginInfo :: loginInfo"></div>
	<div th:replace="layout/header :: naviBar"></div> -->
	<div layout:fragment="content">

	<script th:src="@{/js/purchase/search.js}"></script>
	
	<div class="container">

        <form action="/search" th:action="@{search}" method="post" id="searchForm" th:object="${purchaseCriteriaForm}">
         <div class="containerShadow">
         
           	<div class="item">
		        <label class="label" th:utext="#{mstPurchases.purchaseId}"></label>
		        <input type="text" name="pId" id="pId" th:value="*{pId}" class="condition" autofocus="autofocus"/>

		        <label class="label" th:utext="#{mstUser.userId}"></label>
		        <input type="text" name="solicitanteId" id="solicitanteId" th:value="*{solicitanteId}" class="condition"/>

		        <label class="label" th:utext="#{mstPurchases.applicatedAt}"></label>
		        <input type="text" name="applicatedAtFrom" id="applicatedAtFrom" th:value="*{applicatedAtFrom}" class="condition datepicker" placeholder="yyyy-mm-dd"/>
		        &nbsp;-&nbsp;
		        <input type="text" name="applicatedAtTo" id="applicatedAtTo" th:value="*{applicatedAtTo}" class="condition datepicker" placeholder="yyyy-mm-dd"/> 

		        <label class="label" th:utext="#{mstPurchases.deliveryDate}"></label>
		        <input type="text" name="deliveryDateFrom" id="deliveryDateFrom" th:value="*{deliveryDateFrom}" class="condition datepicker" placeholder="yyyy-mm-dd"/>
		        &nbsp;-&nbsp;
		        <input type="text" name="deliveryDateTo" id="deliveryDateTo" th:value="*{deliveryDateTo}" class="condition datepicker" placeholder="yyyy-mm-dd"/> 
		    	&nbsp;&nbsp;
		    	
		    	<div th:each="item : ${isDeliveredItems}" style="display:inline">
              		<label>
                	<input type="checkbox" name="checkIsDelivered" th:value="${item.value}" th:text="${item.key}" th:field="*{checkIsDelivered}" class="condition" >checkbox</input>
              		</label>
            	</div>
		    	
		    </div>
         
            <a href="javascript:void(0)" onclick="searchPurchase()" th:title="#{common.texto.buscar}"><i class="material-icons">search</i></a>
            &nbsp;<a href="javascript:void(0)" onclick="clearCondition()" th:title="clear"><i class="material-icons">clear</i></a>
         </div>
         
		<div style="text-align: right">
			<a href="javascript:void(0)" onclick="editHeader()" title="new requisicion"><i class="material-icons">add</i></a>
		</div>
         <input type="hidden" name="purchaseId" id="purchaseId" />
        </form>

	
		<div style="text-align: right">
			Total: <span th:text="${#lists.size(list)}"></span>
		</div>
		<div class="row">
	        <table class="table">
	          <thead>
	            <tr>
		          <th>No</th>
		          <th th:utext="#{mstPurchases.purchaseId}"></th>
	              <th th:utext="#{mstUser.username}"></th>
	              <th th:utext="#{mstPurchases.machineNo}"></th>
	              <th th:utext="#{mstPurchases.applicatedAt}"></th>
	              <th th:utext="#{mstPurchases.deliveryDate}"></th>
	              <th th:utext="#{mstPurchases.isDomestic}"></th>
	              <th th:utext="#{mstPurchases.company}"></th>
	              <th></th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="item,iterStat : ${list}" 
	            th:with="rowcolor =${item.styleColor}"
	            th:class="${rowcolor}">
	              <td class="textCenter"><a class="btn btn-default" href="/purchase/" th:href="@{/purchase/{purchaseId}(purchaseId=${item.purchaseId})}" th:text="${iterStat.count}">1</a></td>
	              <td class="textCenter" th:text="${item.purchaseId}"></td>
	              <td th:text="${item.member}? ${item.userId} + ' ' + ${item.member.username}: ${item.userId}"></td>
	              <td class="textCenter" th:text="${item.machineNo}"></td>
	              <td class="textCenter" th:text="${item.applicatedAt}"></td>
	              <td class="textCenter" th:text="${item.deliveryDate}"></td>
	              <td class="textCenter" th:text="${item.isDomesticValue}"></td>
	              <td class="textCenter" th:text="${item.companyValue}"></td>
	              <td class="textCenter" th:if="${item.isDelivered == 1}" title="Ya se entregó"><i class="material-icons">done</i></td>
	              <td class="textCenter" th:if="${item.isDelivered == 0}"></td>
	              
	            </tr>
	          </tbody>
	        </table>
		</div>
	</div>
</div>
  	<!-- <div th:include="layout/footer :: copy" th:fragment="containerFooter"></div> -->

</body>
</html>