@CHARSET "ISO-8859-1";
li{ list-style: none;}

BODY
{
    margin:0px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
div.container{
    margin: 10px;
}
.boton{
	display: inline-block;
	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	color: #444;
	
	border: 1px solid #c6c4c4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 27px;
	line-height: 27px;
	min-width: 100px;
	padding: 0 8px;
	text-decoration: none;

}

.boton:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #00559d;
    color: white;
    text-align:center;
}

tr.alert{
	background-color: #fa8c87;
}

table.parent th{background-color: #7FAACE; color:white;}

td.textCenter{text-align:center}
td.textLeft{text-align:left}

div.row{
	margin-top: 5px;
	text-align: center;
}
.errMessage{
	color:red;
}
.errorField {
  background-color: #ff8080;
}
