<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
		
    		<div th:if="${isDone}" th:include="layout/message :: message(#{msg.modified.password})"></div>
	
	        <form th:action="@{editPassword}" method="post" id="editPasswordForm" name="editPasswordForm" th:object="${form}" class="center">
	         <div class="containerShadow">

	         	<label th:if="${#fields.hasErrors('global')}" th:errors="*{global}" class="errMessage">Error</label>
	         	         
	           	<div class="item">
			        <label class="label" th:utext="#{common.texto.contrasena} + ' (' + #{common.texto.actual} + ')'"></label>
			        <input type="password" class="item" name="passwordActual" id="passwordActual" th:field="*{passwordActual}" autofocus="autofocus" th:errorclass="errorField"/>
			        <label th:if="${#fields.hasErrors('passwordActual')}" th:errors="*{passwordActual}" class="errMessage">error</label>
			    </div>
	           	<div class="item">
			        <label class="label" th:utext="#{common.texto.contrasena} + ' (' + #{common.texto.new} + ')'"></label>
			        <input type="password" class="item" name="passwordNew" id="passwordNew" th:field="*{passwordNew}" th:errorclass="errorField"/>
			        <label th:if="${#fields.hasErrors('passwordNew')}" th:errors="*{passwordNew}" class="errMessage">error</label>
			    </div>
	           	<div class="item">
			        <label class="label" th:utext="#{common.texto.contrasena} + ' (' + #{common.texto.new} + ') ' + #{common.texto.write.again}"></label>
			        <input type="password" class="item" name="passwordNewConfirm" id="passwordNewConfirm" th:field="*{passwordNewConfirm}" th:errorclass="errorField"/>
			        <label th:if="${#fields.hasErrors('passwordNewConfirm')}" th:errors="*{passwordNewConfirm}" class="errMessage">error</label>
			    </div>
	
		        <a href="javascript:void(0)" onclick="javascript:document.getElementById('editPasswordForm').submit();return false" title="save">
		        	<i class="material-icons">done_all</i>
		        </a>
	         </div>
	         
	         <input type="hidden" name="userId" id="userId" th:field="*{userId}"/>
	         
	        </form>
		</div>
	</div>
</body>
</html>