<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout/header :: header">
	<title>Web Page</title>
 </head>
<body>

	<section>
		<form th:action="@{/login}" method="post" class="center">
	    	<div class="containerShadow" style="width:400px; margin:0 auto;">  
	    	
	    		<div th:if="${param.error}" th:include="Layout/errorMessage :: errorMessage(#{err.msg.invalid.user.contrasena})">test</div>
	    		<div th:if="${param.logout}" th:include="Layout/message :: message(#{msg.terminar_sesion})">test</div>
	    	

	        	<div class="item">
			        <label class="label"><span th:text="#{common.texto.usuario}"></span></label>
					<input class="item" name="username" type="text" autofocus="autofocus"/>
			    </div>
	        	<div class="item">
			        <label class="label"><span th:text="#{common.texto.contrasena}"></span></label>
					<input class="item" name="password" type="password"/>
			    </div>
	
		    	<div style="text-align: center">
		     		<button type="submit" th:text="#{common.boton.iniciar_sesion}" class="boton" ></button>
		     	</div>
	     	</div>
		</form>
		
	</section>
  	<div th:include="layout/footer :: copy"></div>
</body>
</html>