<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout/header :: header">
	<title>Web Page</title>
</head>
<body>	

	<h1 th:inline="text">Menu</h1>
	
	<ol>
		<li><a href="purchase/search">Buscar Requisición de Compra</a></li>
		<li><a href="purchase/crear">Crear Nuevo Requisición de Compra</a></li>
		
		<span sec:authorize="hasAuthority('ROLE_ADMIN')">
		<li><a href="/admin/usuario">Buscar Usuario</a></li>
		<li><a href="/admin/usuario/crear">Crear Nuevo Usuario</a></li>
		</span>
	</ol>
</body>
</html>